button {
        position: absolute;
        margin-left: 95%;
      }
      #time {
        position: absolute;
        margin-left: 95%;
        color: white;
        font-size: 3em;
        position: fixed;
      }
@keyframes wave
{
  to{background:url(img/wave1.png);}from{background:url(img/wave2.png);}
}

.wave{animation:wave 1.4s infinite;}
.flower{background:url(img/flower.png);}

.mur-img{width:100% ;}
.black{background:url('img/caillouptit.jpg') repeat ;}
.mur{border-top:1px solid black;}

.table{width:100%;height:10vh;animation:wave 1.5s ease infinite;}
.colonne
{
  width:8.33%;
  height:200px;

}
.border-left
{
  border-radius: 100px 0 0 0;
}
.border-right
{
  border-radius: 0 100px 0 0;
}
.bonjour{
    background: url(https://media.discordapp.net/attachments/388871813905514507/388871880817246209/Mario.gif?width=234&height=468);
    width: 50px;
    left: 119px;
    top: 119px;
  }
